# https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: '-*,
    cppcoreguidelines-*,
    hicpp-*,
      -hicpp-braces-around-statements,
      -hicpp-named-parameter,
    modernize-*,
      -modernize-use-trailing-return-type,
    bugprone-*,
    cert-*,
    misc-*,
    concurrency-*,
    performance-*,
    portability-*,
    readability-*,
      -readability-braces-around-statements,
      -readability-named-parameter,
      -readability-redundant-member-init,
    clang-analyzer-*,

    llvm-namespace-comment,
  '
CheckOptions:
  - key: cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value: true
  - key: hicpp-use-override,modernize-use-override.IgnoreDestructors
    value: true
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true

WarningsAsErrors:   ''
HeaderFilterRegex:  ''
FormatStyle:        'file'
