[submodule "RockHopper/vendor/spdlog"]
	path = RockHopper/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "RockHopper/vendor/glfw"]
	path = RockHopper/vendor/glfw
	url = https://github.com/glfw/glfw
